$white: #fff;
$yellow: #f6d106;
$blue-dark: #093697;
$blue-light: #22408e;
$blue-green-dark: #0F4C73;
$yellow-light: #ffd700;
$grey: #c0c0c0;
$grey-light: #d3d9e8;
$brown-light: #cd7f32;
$red-salmon: #EA4335;
