@use './include_media' as *;
@import './reset';

// default style here
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 16px;
}

#root {
  min-height: 100vh;
  width: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}

.App {
  flex-grow: 1;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 9em;
  padding: 0em 0.5em;

  // demo
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media('>mobile_l') {
    padding: 0em 1em;
  }

  @include media('>tablet') {
    padding: 0em 3em;
  }

  // @include media('>desktop') {
  //   padding: 0em 3em;
  // }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
