@use '../../styles/index' as *;

.container {
  display: flex;
  padding: 0.8em;
  width: 100%;
  border-radius: 0.5em;
  background-color: #e9ecef;
  display: flex;
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap;
  margin-bottom: 2em;

  // @include media('>desktop') {
  //   padding: 0.5em 0.2em;
  // }
}

.text {
  display: inline-block;
  font-size: 1.1em;
  font-weight: 500;
  color: #212529;
  // text-shadow: 2px 2px rgba(0, 0, 0, 0.158);
  text-align: center;
  line-height: 1;
  text-decoration: none;
  transition: 0.4s ease-in-out color;
  margin: 0 0 0.25em;

  &:first-child {
    color: #2c3e50;

    &:hover {
      color: lighten(#2c3e50, 30%);
    }

    &__noHover {
      &:hover {
        color: #2c3e50;
      }
    }
  }

  &:hover {
    color: lighten(#212529, 30%);
  }

  &__noHover {
    &:hover {
      color: #212529;
    }
  }

  @include media('>mobile_l') {
    font-size: 1.2em;
  }
}

.slash {
  // display: inline-block;
  margin: 0.25em 0.5em;

  &:last-child {
    display: none;
    visibility: hidden;
  }
}
