@use "../../styles/index" as *;

.card {
  background-color: $blue-dark;
  display: flex;
  flex-direction: column;
  padding: 1em;
  border-radius: 1.25em;
  position: relative;

  @include media(">mobile_l") {
    padding: 2em;
  }

  @include media(">tablet") {
    padding: 1em;
  }

  // @include media('>desktop') {
  //   padding: 1em;
  // }

  .img_wraper {
    display: none !important;
    // background-size: contain !important;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain !important;
    margin-bottom: 1em;
    border-radius: 0.6em;

    @include media(">tablet") {
      display: flex !important;
    }
  }

  .img {
    width: 100%;
    min-height: 250px;
    border-radius: 0.6em;
    object-fit: contain;
    object-position: center;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
  }

  .description {
    position: relative;
    height: fit-content;
    display: grid;
    grid-template-areas:
      "name name"
      "team like";
    height: 100%;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr auto;

    @include media(">mobile_l") {
      grid-template-areas:
        "name like"
        "team team";
    }

    span {
      color: $white;
      display: flex;
      align-items: center;
    }

    .name {
      color: $white;
      margin-bottom: 0.5em;
      grid-area: name;
      font-size: 1.2em;
      font-weight: 700;
      font-style: normal;
      line-height: normal;
      letter-spacing: 0em;
      text-decoration: none;
      @include max-line-overflow(2);

      // @include media('>mobile_l') {
      //   font-size: 1.2em;
      // }

      @include media(">tablet") {
        font-size: 1em;
      }

      @include media(">desktop") {
        font-size: 1.5em;
      }
    }

    .team {
      grid-area: team;
      align-self: flex-end;
      font-size: 1em;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
      letter-spacing: 0em;
      @include max-line-overflow(1);

      @include media(">mobile_l") {
        font-size: 1.2em;
      }

      @include media(">tablet") {
        font-size: 1em;
      }

      @include media(">desktop") {
        font-size: 1.2em;
      }
    }

    .like_container {
      grid-area: like;
      display: flex;
      align-items: flex-start;
      padding-top: 0.3em;

      svg {
        width: 24px;
        height: 24px;
        color: $yellow;
        margin-right: 0.3em;
      }

      .like {
        margin-bottom: 0;
        line-height: 24px;
      }
    }
  }
}
